<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='js/dns.js') }}"></script>
  <div class="sidebar">
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}"><- Back</a>
    <a href="{{ url_for('reccon_whois') }}">Whois Lookup</a>
    <a href="{{ url_for('reccon_dns') }}">DNS Info</a>
    <a href="{{ url_for('reccon_blacklist') }}">BlackList Check</a>
    <a href="{{ url_for('reccon_spf_check') }}">SPF Check </a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Reconnaissance Menu</div>
  <div class="main">
    <div class="card">
        
    <h3>DNS Lookup</h3>
    <form id="dnsForm">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" id="query" placeholder="Enter domain or IP" required style="width: 100%; padding: 10px;">
        <div class="radio-group">
          <div>
            <input type="radio" id="option1" name="type" value="ALL">
            <label for="option1">ALL</label>
          </div>
          <div>
            <input type="radio" id="option2" name="type" value="TXT">
            <label for="option2">TXT</label>
          </div>
          <div>
            <input type="radio" id="option3" name="type" value="A">
            <label for="option3">A</label>
          </div>
          <div>
            <input type="radio" id="option4" name="type" value="PTR">
            <label for="option4">PTR</label>
          </div>
          <div>
            <input type="radio" id="option5" name="type" value="MX">
            <label for="option5">MX</label>
          </div>
          <div>
            <input type="radio" id="option6" name="type" value="NS">
            <label for="option6">NS</label>
          </div>
          <div>
            <input type="radio" id="option7" name="type" value="CNAME">
            <label for="option7">CNAME</label>
          </div>
          <div>
            <input type="radio" id="option8" name="type" value="AAAA">
            <label for="option8">AAAA</label>
          </div>
          <div>
            <input type="radio" id="option9" name="type" value="SOA">
            <label for="option9">SOA</label>
          </div>
          <div>
            <input type="radio" id="option10" name="type" value="DS">
            <label for="option10">DS</label>
          </div>
        </div>
        <button type="submit" style="margin-top: 10px;">Search</button>
    </form>
      <pre id="msg" style="display: none;"></pre>
    </div>

    <div>
        <div class="expand-container" id="A-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>A Records</span>
          </div>
          <div class="expand-content">
              <pre id="A-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="TXT-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>TXT Records</span>
          </div>
          <div class="expand-content">
              <pre id="TXT-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="PTR-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>PTR Records</span>
          </div>
          <div class="expand-content">
              <pre id="PTR-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="MX-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>MX Records</span>
          </div>
          <div class="expand-content">
              <pre id="MX-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="NS-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>NS Records</span>
          </div>
          <div class="expand-content">
              <pre id="NS-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="CNAME-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>CNAME Records</span>
          </div>
          <div class="expand-content">
              <pre id="CNAME-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="AAAA-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>AAAA Records</span>
          </div>
          <div class="expand-content">
              <pre id="AAAA-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="SOA-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>SOA Records</span>
          </div>
          <div class="expand-content">
              <pre id="SOA-record-container"></pre>
          </div>
        </div>

        <div class="expand-container" id="DS-record-card" style="display: none; margin-top: 10px;">
          <div class="expand-header">
              <span>DS Records</span>
          </div>
          <div class="expand-content">
              <pre id="DS-record-container"></pre>
          </div>
        </div>

    </div>

    <script>
      document.getElementById('dnsForm').addEventListener('submit', function(e) {
          e.preventDefault();

          const csrf_token = document.getElementById("csrf_token").value;
          const query = document.getElementById('query').value;
          const type = document.querySelector('input[name="type"]:checked')?.value;

          if (!type) {
              document.getElementById('msg').textContent = 'Please select a DNS record type.';
              document.getElementById('msg').className='error'
              document.getElementById('msg').style.display='block'
              return;
          }

          Session();
          dns_query(query,type,csrf_token);
      });
    </script>



  </div>
</body>
</html>