<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='js/spf.js') }}"></script>
  <div class="sidebar">
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}"><- Back</a>
    <a href="{{ url_for('reccon_whois') }}">Whois Lookup</a>
    <a href="{{ url_for('reccon_dns') }}">DNS Info</a>
    <a href="{{ url_for('reccon_blacklist') }}">BlackList Check</a>
    <a href="{{ url_for('reccon_spf_check') }}">SPF Check </a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Reconnaissance Menu</div>
  <div class="main">
    <div class="card">
        
    <h3>SPF Configuration Check</h3>
    <form id="spfForm">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" id="query" placeholder="Enter domain" required style="width: 100%; padding: 10px;">
        <button type="submit" style="margin-top: 10px;">Search</button>
    </form>
        <pre id="msg" style="display: none;"></pre>
    </div>


    <div style="display: block;">
          <script>
            function toggleExpand(header) {
                const icon = header.querySelector(".expand-icon");
                const content = header.nextElementSibling;
                const isVisible = content.style.display === "block";

                content.style.display = isVisible ? "none" : "block";
                icon.textContent = isVisible ? "+" : "−";
            }
          </script>
          <div class="expand-container" id="spf-transcript-card" style="display:none; margin-top: 10px;">
              <div class="expand-header" onclick="toggleExpand(this)">
                  <span>SPF Transcript</span>
                  <span class="expand-icon">+</span>
              </div>
              <div class="expand-content" style="display: none;">
                  <div id="spf-transcript-container"></div>
              </div>
          </div>

          <div class="expand-container" id="spf-card" style="display: none; margin-top: 10px;">
              <div class="expand-header">
                  <span>SPF Result</span>
              </div>
              <div class="expand-content">
                  <div id="spf-container"></div>
              </div>
          </div>

        <script>
            document.getElementById('spfForm').addEventListener('submit', function(e){
              e.preventDefault();
              const csrf_token = document.getElementById("csrf_token").value;
              const query = document.getElementById('query').value
              Session();
              spf_query(query,csrf_token)
            });
        </script>
    </div>

  </div>
</body>
</html>