<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
  <script src="{{ url_for('static', filename='js/whois.js') }}"></script>
  <div class="sidebar">
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}"><- Back</a>
    <a href="{{ url_for('reccon_whois') }}">Whois Lookup</a>
    <a href="{{ url_for('reccon_dns') }}">DNS Info</a>
    <a href="{{ url_for('reccon_blacklist') }}">BlackList Check</a>
    <a href="{{ url_for('reccon_spf_check') }}">SPF Check </a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Reconnaissance Menu</div>
  <div class="main">
    <div class="card">
        
      <h3>WHOIS Lookup</h3>
      <form id="whoisForm">
          <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
          <input type="text" id="query" placeholder="Enter domain or IP" required style="width: 100%; padding: 10px;">
          <button type="submit" style="margin-top: 10px;">Search</button>
      </form>

      <pre id="msg" style="display: none;"></pre>
    </div>

    <div id="topcard" class="topcard" style="display: none;">
        <div class="mapcontent" id="map-content-card" style="display: none;">
              <div id="whois_map" style="display: none;">
                  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
              </div>
              <div id="ipinfo">
                  <div class="title"id="ipCity"></div> 
                  <p id="ipCountry"></p>
                  <p id="ipOrg"></p>
                  <p id="ipRegion"></p>
                  <p id="ipAddr"></p> 
              </div>
        </div>
            
    </div>
      <div style="padding-top: 10px;">
            <div class="expand-container" id="whois-card" style="display: none;">
                <div class="expand-header">
                    <span>Whois Result</span>
                </div>
                <div class="expand-content">
                    <div id="whois-container"></div>
                    <pre id="whois-query-result" style="padding-left: 10px;"></pre>
                </div>
            </div>
      </div>
        
        <script>
          document.getElementById('whoisForm').addEventListener('submit',function(e){
            e.preventDefault();
            const query = document.getElementById('query').value;
            const csrf_token = document.getElementById('csrf_token').value;
            Session();
            whois_query(query,csrf_token)
            dataLocation(query,csrf_token)
          })
        </script>

        
    

  </div>
</body>
</html>