* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  background-color: #000;
  color: #ccc;
  overflow: hidden;
}
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #0d0d0d;
  border-right: 1px solid #444;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}
.sidebar a {
  display: block;
  padding: 10px;
  color: #ccc;
  text-decoration: none;
  margin: 10px 0;
  border-left: 3px solid transparent;
}
.sidebar a:hover {
  color: #fff;
  border-left: 3px solid #338889;
  background: #111;
}
.topbar {
  margin-left: 220px;
  height: 60px;
  background-color: #111;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  font-size: 1.2rem;
  justify-content: space-between;
}
.main {
  margin-left: 220px;
  padding: 20px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.card {
  background-color: #111;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.card h3 {
  margin-top: 0;
  color: #fff;
}

.error { color: #a2243d;}
.ok { color: #02b8b2; }
.warning { color: #979702; }

button {
  background: #0c4d4b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #338889;
}

input{
  margin-bottom: 10px;
  width: 100%; 
  padding: 10px;
}

a.link {
    text-decoration: none;
    border: none;
    outline: none;
    background: #0c4d4b;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

a.link:hover {
    background: #338889;
}


table {width: 100%;border-collapse: collapse; margin-top: 1rem;}
th, td {padding: 8px;border-bottom: 1px solid #333;text-align: left;}
th {background-color: #222;color: #fff;}

.mapcontent {max-height: 400px;display:flex; width: 100%;height: 100%;border-bottom: 0.5px solid #333;border-top: 0.5px solid #333;}
.topcard {max-height: 400px;display:none; width: 100%;height: 100%}

.expand-container { width: 100%;margin-right: 10px;border: 1px solid #333; border-radius: 0px; overflow: hidden;}
.expand-header { display: flex;justify-content: space-between;align-items: center;padding: 10px;background-color: #1a1a1a; color: #fff; cursor: pointer;font-family: 'Share Tech Mono', monospace; }
.expand-content {padding: 10px;color: #ccc;border-top: 1px solid #333;}

#ipinfo {max-height: 400px;  width: 20%;height: 100%;padding:15px;border-left: 1px solid #333;background: #0f0f0f; border-right: 1px solid #333;}
.title {font-size: 1.8rem;text-align: center;color: #ffffff;margin-bottom: 12px;padding-bottom: 5px; background: repeating-linear-gradient(45deg, #333333b6 0 5px, transparent 5px 10px)}
#whois_map {max-height: 400px;height: 100%;width: 80%;border-radius: 0px}
/* #ip-addr {height: 300px;width: auto; padding: 10px;margin-top: 5px  ;border: 1px solid #333;border-radius: 6px} */
/* #whois_map {height: 300px;width: auto;border: 1px solid #0c4d4b;border-radius: 6px} */
.pulse-marker {background: rgba(0, 255, 247, 0.3);border: 2px solid #00fff7;border-radius: 50%;width: 20px;height: 20px;animation: pulse 2s infinite;position: absolute;transform: translate(-50%, -50%);box-shadow: 0 0 15px #00fff7;}
@keyframes pulse {0%{transform: translate(-50%, -50%) scale(0.8);opacity: 1;}70% {transform: translate(-50%, -50%) scale(1.8);opacity: 0;}100% { transform: translate(-50%, -50%) scale(0.8);opacity: 1; }}

.radio-group {
  display: flex;
  gap: 10px;
  padding-top: 5pt;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 5px 15px;
  background-color: #222;
  color: #ccc;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked + label {
  background-color: #0c4d4b;
  color: white;
  border-color: #0c4d4b;
}

label:hover {
  background-color: #333;
}