* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  background-color: #000;
  color: #ccc;
  overflow: hidden;
}
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #0d0d0d;
  border-right: 1px solid #444;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}
.sidebar a {
  display: block;
  padding: 10px;
  color: #ccc;
  text-decoration: none;
  margin: 10px 0;
  border-left: 3px solid transparent;
}
.sidebar a:hover {
  color: #fff;
  border-left: 3px solid #338889;
  background: #111;
}
.topbar {
  margin-left: 220px;
  height: 60px;
  background-color: #111;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  font-size: 1.2rem;
  justify-content: space-between;
}
.main {
  margin-left: 220px;
  padding: 20px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.card {
  background-color: #111;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.card h3 {
  margin-top: 0;
  color: #fff;
}

.error { color: #a2243d;}
.ok { color: #02b8b2; }
.warning { color: #979702; }

button {
  background: #0c4d4b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #338889;
}

input{
  margin-bottom: 10px;
  width: 100%; 
  padding: 10px;
}

label {
  display: inline-block;
  padding: 5px 5px;
  font-family: 'Share Tech Mono', monospace;
}
