@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* { box-sizing: border-box; }
    
body {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    background-color: #000;
    color: #ccc;
    overflow: hidden;
    justify-content: center;
}

body .analyzing-text {
    padding-top: 20px;
    display: none; 
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    user-select: none;
  }

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #0d0d0d;
    border-right: 1px solid #444;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.sidebar a {
    display: block;
    padding: 10px;
    color: #ccc;
    text-decoration: none;
    margin: 10px 0;
    border-left: 3px solid transparent;
}
.sidebar a:hover {
    color: #fff;
    border-left: 3px solid #338889;
    background: #111;
}
.topbar {
    margin-left: 220px;
    height: 60px;
    background-color: #111;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    font-size: 1.2rem;
    justify-content: space-between;
}
.main {
    margin-left: 220px;
    padding: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.card { background-color: #111; border: 1px solid #333;/*0c4d4b*/padding: 20px;border-radius: 6px;margin-bottom: 20px;}
.card h3 {margin-top: 0;color: #ffffff;}
form.inline { display: inline; }
button {
    background: #0c4d4b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background: #338889;
}

#tittle-card {border-radius: 6px;align-items: center;}
.analyzing-text {justify-content: center;font-size: 2.5rem;letter-spacing: 0.2em;animation: flicker 3s infinite;transition: opacity 1s ease-out;}
@keyframes flicker { 0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {opacity: 1;}20%, 22%, 24%, 55% {opacity: 0.4;}}

.error { color: #a2243d; font-weight: bold; }
/* .verdict-neutral {font-size: 2rem;text-align: center;color: #ffffff;margin-bottom: 12px;padding-bottom: 5px; background: repeating-linear-gradient(45deg, #333333c0 0 5px, transparent 5px 10px)}
.verdict-good {font-size: 2rem;text-align: center;color: #ffffff;margin-bottom: 12px;padding-bottom: 5px; background: repeating-linear-gradient(45deg, #02b8b26f 0 5px, transparent 5px 10px)}
.verdict-danger {font-size: 2rem;text-align: center;color: #ffffff;margin-bottom: 12px;padding-bottom: 5px; background: repeating-linear-gradient(45deg, #a2243d89 0 5px, transparent 5px 10px)}
.verdict-suspicious {font-size: 2rem;text-align: center;color: #ffffff;margin-bottom: 12px;padding-bottom: 5px; background: repeating-linear-gradient(45deg, #e5e51e64 0 5px, transparent 5px 10px)} */

.mitre {display: none; width: 35%;height: 100%;}
.filescan-details {display: block;width: 65%;height: 100%;}

hud-box {border-width: 1px;border: 2px solid #fff;padding: 1rem;position: relative;background: #0f0f0f;}
.neutral .scan-lines {height: 4px;background: repeating-linear-gradient(45deg, #333 0 5px, transparent 5px 10px);margin: 0.5rem 0;}
.neutral {border-color: #333;border-radius:5px;margin-bottom: 5px;border-width: 2px;border-style: solid;padding: 10px;background: #0f0f0f;word-break: break-word;} 
.neutral h2,.hud-box h3 {margin-top: 0;text-transform: uppercase;font-weight: bold;margin-bottom: 0.5rem;border-bottom: 1px solid #333;padding-bottom: 0.25rem;}
.neutral strong{color: #949191;}

.danger .scan-lines {height: 4px;background: repeating-linear-gradient(45deg, #a2243d 0 5px, transparent 5px 10px);margin: 0.5rem 0;}
.danger {border-color: #a2243d;border-radius: 0px;margin-bottom: 5px;border-width: 2px;border-style: solid;padding: 10px;background: #0f0f0f;word-break: break-word;}
.danger h2,.hud-box h3 {margin-top: 0;text-transform: uppercase;font-weight: bold;margin-bottom: 0.5rem;border-bottom: 1px solid #a2243d;padding-bottom: 0.25rem;}
.danger strong{color: #a2243d;}

.suspicious .scan-lines {height: 4px;background: repeating-linear-gradient(45deg, #e5e51eae 0 5px, transparent 5px 10px);margin: 0.5rem 0;}
.suspicious {border-color: #e5e51eae;border-radius: 0px;margin-bottom: 5px;border-width: 2px;border-style: solid;padding: 10px;background: #0f0f0f;word-break: break-word;}
.suspicious h2,.hud-box h3 {margin-top: 0;text-transform: uppercase;font-weight: bold;margin-bottom: 0.5rem;border-bottom: 1px solid #e5e51eae;padding-bottom: 0.25rem;}
.suspicious strong{color: #e5e51eae;}

.good .scan-lines {height: 4px;background: repeating-linear-gradient(45deg, #02b8b2 0 5px, transparent 5px 10px);margin: 0.5rem 0;}
.good {border-color: #02b8b2;border-radius: 0px;margin-bottom: 5px;border-width: 2px;border-style: solid;padding: 10px;background: #0f0f0f;word-break: break-word;}
.good h2,.hud-box h3 {margin-top: 0;text-transform: uppercase;font-weight: bold;margin-bottom: 0.5rem;border-bottom: 1px solid #02b8b2;padding-bottom: 0.25rem;}
.good strong{color: #02b8b2;}

#snapshot {width: 98%;max-height: 800px;border-color: #333;border-style: solid;border-width: 2px;border-radius: 5px;display: none;}



.expand-container { width: 98%;margin-top: 10px;border: 1px solid #333; border-radius: 6px; overflow: hidden;overflow-x: auto;  }
.expand-header { display: flex;justify-content: space-between;align-items: center;padding: 10px;background-color: #1a1a1a; color: #fff; cursor: pointer;font-family: 'Share Tech Mono', monospace; }
.expand-icon {font-weight: bold;font-size: 1.2em;transition: transform 0.2s ease;}
.expand-content {display: none;padding: 10px;color: #ccc;border-top: 1px solid #333;}

table {width: 100%;border-collapse: collapse; margin-top: 1rem;table-layout: fixed;}
th, td {padding: 8px;border-bottom: 1px solid #333;text-align: left;word-break: break-word;}
th {background-color: #222;color: #fff;}

.malicious { color: #a2243d; font-weight: bold; }
.clean { color: #02b8b2; font-weight: bold; }
.phishing { color: #e5e51eae; font-weight: bold; }
.unrate { color: #949191; font-weight: bold; }

.verdict-suspicious { display: flex;justify-content: center;align-items: center;padding: 20px 40px;font-size: 42px;font-weight: bold;text-transform: uppercase;position: relative;overflow: hidden;border: 3px solid black;}
.verdict-suspicious::before {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: repeating-linear-gradient(45deg,#e5e51eae,#e5e51eae 20px,#000 20px,#000 40px);z-index: 1;}
.verdict-suspicious span {background-color: black;border-radius: 5px;color: #e5e51eae;padding: 0 20px;z-index: 2;}

.verdict-neutral { display: flex;justify-content: center;align-items: center;padding: 20px 40px;font-size: 42px;font-weight: bold;text-transform: uppercase;position: relative;overflow: hidden;border: 3px solid black;}
.verdict-neutral::before {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: repeating-linear-gradient(45deg,#333,#333 20px,#000 20px,#000 40px);z-index: 1;}
.verdict-neutral span {background-color: black;border-radius: 5px;color: #333;padding: 0 20px;z-index: 2;}

.verdict-good { display: flex;justify-content: center;align-items: center;padding: 20px 40px;font-size: 42px;font-weight: bold;text-transform: uppercase;position: relative;overflow: hidden;border: 3px solid black;}
.verdict-good::before {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: repeating-linear-gradient(45deg,#02b8b26f,#02b8b26f 20px,#000 20px,#000 40px);z-index: 1;}
.verdict-good span {background-color: black;border-radius: 5px;color: #02b8b26f;padding: 0 20px;z-index: 2;}

.verdict-danger { display: flex;justify-content: center;align-items: center;padding: 20px 40px;font-size: 42px;font-weight: bold;text-transform: uppercase;position: relative;overflow: hidden;border: 3px solid black;}
.verdict-danger::before {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: repeating-linear-gradient(45deg,#a2243d89,#a2243d89 20px,#000 20px,#000 40px);z-index: 1;}
.verdict-danger span {background-color: black;border-radius: 5px;color: #a2243d89;padding: 0 20px;z-index: 2;}

.mitre-verdict { background-color: #111; border: 1px solid #333;/*0c4d4b*/padding: 0px 0px 0px 20px;border-radius: 6px;margin: 10px 0px 10px 0px;}