<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}">
</head>
<body>
  <div class="sidebar">
    <script src="{{ url_for('static', filename='js/filescanio_file.js') }}"></script>
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}"><- Back</a>
    <a href="{{ url_for('analysis_reputation_lookup') }}">Reputation Lookup</a>
    <a href="{{ url_for('analysis_url') }}">URL Analysis</a>
    <a href="{{ url_for('analysis_file') }}">File Analysis </a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Analysis Menu</div>
  <div class="main">
    <div class="card">
        <h3>File Analysis</h3>
        <div id="upload-box">
          Drag file or click to select a file<br>
          <span id="fileName" style="display:block; margin-top:10px;"></span>
          <input type="file" id="fileInput" style="display: none;">
        </div>
        <br>
        <label>
          <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
          <input type="checkbox" id="protectCheckbox">Password protected?</label>
          <input type="password" id="passwordInput" placeholder="Password" style="display: none;" name="password">
          <br>
        <button id="uploadBtn" type="submit" style="margin-top: 10px;">Submit</button>
        <p id="msg"></p>
    </div>

    <div class="analyzing-text" role="status" aria-live="polite" id="analyzing">ANALYZING...</div>

    <div style="display: flex; margin-top: 20px;width: 100%;">
        <div class="filescan" style="width: 65%;margin-right: 10px;" id="filescan">
            <div class="filescan-details" id="filescan-details">
              <h2>Process Chain</h2>
              <div id="viewport">
                <div id="tree-container"></div>
              </div>
              <div id="card">
                <h3>Process details</h3>
                <strong id="info">Click a process to see details.</strong>
              </div>
              <script>
                const viewport = document.getElementById('viewport');
                const container = document.getElementById('tree-container');
                const info = document.getElementById('info');

                let scale = 1;
                let panX = 0;
                let panY = 0;
                let isDragging = false;
                let startX, startY;

                function updateTransform() {
                  container.style.transform = `translate(${panX}px, ${panY}px) scale(${scale})`;
                }

                viewport.addEventListener('wheel', (e) => {
                  e.preventDefault();
                  const delta = -e.deltaY * 0.001;
                  scale += delta;
                  scale = Math.min(Math.max(0.2, scale), 3);
                  updateTransform();
                });

                viewport.addEventListener('mousedown', (e) => {
                  isDragging = true;
                  startX = e.clientX - panX;
                  startY = e.clientY - panY;
                  viewport.style.cursor = 'grabbing';
                });

                window.addEventListener('mouseup', () => {
                  isDragging = false;
                  viewport.style.cursor = 'grab';
                });

                window.addEventListener('mousemove', (e) => {
                  if (!isDragging) return;
                  panX = e.clientX - startX;
                  panY = e.clientY - startY;
                  updateTransform();
                });

                document.getElementById('tree-container').addEventListener('click', (e) => {
                  const proc = e.target.closest('.process');
                  if (proc) {
                    e.stopPropagation();
                    const description = proc.dataset.description;
                    const details = proc.dataset.details;
                    info.innerHTML = `<b>${description}</b><br><b>${details}</b>`;
                  }
                });


                updateTransform();
              </script>
            </div>
              <div class="expand-container" id="other-card" style="display: none;">
                    <div class="expand-header" onclick="toggleExpand(this)">
                        <span>Signals</span>
                        <span class="expand-icon">+</span>
                    </div>
                    <div class="expand-content" style="display: none;">
                        <div id="other-table-container" style="padding: 10px;"></div>
                    </div>
              </div>

              <div class="expand-container" style="display: none" id="strings-card">
                    <div class="expand-header" onclick="toggleExpand(this)">
                        <span>Strings</span>
                        <span class="expand-icon">+</span>
                    </div>
                    <div class="expand-content" style="display: none;">
                        <div id="strings-container" style="white-space: pre-wrap;padding: 30px; word-break: break-word; overflow-wrap: anywhere;"></div>
                    </div>
              </div>
        </div>

            <div class="mitre" id="mitre">
                <div class="verdict-neutral"id="verdict">
                    <span id="verdictText">--</span>
                </div> 
                <div id="file-details" class="file-details">
                    <p><span id="filename"></span></p>
                    <p><span id="size"></span></p>
                    <p><span id="mimeType"></span></p>
                    <p><span id="md5"></span></p>
                    <p><span id="sha1"></span></p>
                    <p><span id="sha256"></span></p>
                </div>

                <div class="mitre-details" style="display: block;margin-top: 10px;"></div>
            </div>
          
      </div>
    <script>
      const checkbox = document.getElementById('protectCheckbox');
      const passwordInput = document.getElementById('passwordInput');
      
      checkbox.addEventListener('change', () => {
        passwordInput.style.display = checkbox.checked ? 'inline-block' : 'none';
      });

      const uploadBox = document.getElementById('upload-box');
      const fileInput = document.getElementById('fileInput');
      const fileNameSpan = document.getElementById('fileName');
      const uploadBtn = document.getElementById('uploadBtn');

      uploadBox.addEventListener('click', () => fileInput.click());
      fileInput.addEventListener('change', () => {
          if (fileInput.files.length > 0) {
              fileNameSpan.textContent = fileInput.files[0].name;
          }
      });

      uploadBox.addEventListener('dragover', (e) => {
          e.preventDefault();
          uploadBox.classList.add('dragover');
      });

      uploadBox.addEventListener('dragleave', () => {
          uploadBox.classList.remove('dragover');
      });

      uploadBox.addEventListener('drop', (e) => {
          e.preventDefault();
          uploadBox.classList.remove('dragover');
          const files = e.dataTransfer.files;
          if (files.length > 0) {
              fileInput.files = files;
              fileNameSpan.textContent = files[0].name;
          }
      });

      uploadBtn.addEventListener('click', async () => {
        Session();

        if (fileInput.files.length === 0) {
          const msg = document.getElementById('msg');
          msg.classList = "error";
          msg.textContent = "You need to select a file."
          return;
        }

        const formData = new FormData();
        formData.append('file', fileInput.files[0]);
        if (checkbox.checked) {
          const password = passwordInput.value.trim();
          if (!password) {
            const msg = document.getElementById('msg');
            msg.classList = "error";
            msg.textContent = "Please enter a password.";
            return;
          }
          formData.append('password', password);
        }
        const csrf_token = document.getElementById("csrf_token").value;
        submit_file(formData,csrf_token);
      });

      function toggleExpand(header) {
          const icon = header.querySelector(".expand-icon");
          const content = header.nextElementSibling;
          const isVisible = content.style.display === "block";

          content.style.display = isVisible ? "none" : "block";
          icon.textContent = isVisible ? "+" : "−";
      }

      
    </script>

  </div>
</body>
</html>