<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reputation.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='js/reputation.js') }}"></script>
  <div class="sidebar">
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}"><- Back</a>
    <a href="{{ url_for('analysis_reputation_lookup') }}">Reputation Lookup</a>
    <a href="{{ url_for('analysis_url') }}">URL Analysis</a>
    <a href="{{ url_for('analysis_file') }}">File Analysis </a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Analysis Menu</div>

  <div class="main">
      <div class="card">
          <h3>Reputation Lookup</h3>
          <form id="queryForm">
              <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
              <input type="text" id="query" placeholder="Enter Domain, Hostname, IP, Hash or Url" required style="width: 100%; padding: 10px;">
              <button type="submit" style="margin-top: 10px;">Search</button>
          </form>
          <pre id="msg" style="display: none;"></pre>
      </div>

      <div id="topcard" class="topcard" style="display: none;">
            <div class="mapcontent" id="map-content-card" style="display: none;">
                <div id="map" style="display: none;">
                    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
                </div>
                <div id="ipinfo">
                    <div class="title"id="ipCity"></div> 
                    <p id="ipCountry"></p>
                    <p id="ipOrg"></p>
                    <p id="ipRegion"></p>
                    <p id="ipAddr"></p> 
                </div>
            </div>
            
      </div>

      <div id="middlecard" class="middlecard">
            <script>
                function toggleExpand(header) {
                const icon = header.querySelector(".expand-icon");
                const content = header.nextElementSibling;
                const isVisible = content.style.display === "block";

                content.style.display = isVisible ? "none" : "block";
                icon.textContent = isVisible ? "+" : "−";
                }
            </script>
            <div class="vtcontent" id="vt-content-card" style="display: block;">
                <div style="padding: 15px;">
                    <div id="title-card" style="display: flex; justify-content: center; align-items: center;">
                        <h2 id="query_result"></h2>
                    </div>
                    <div id="VtStats" style="display: none;width: 100%;">
                        <div id="radar" style="display: none;width: 35%;">
                            <canvas id="radarCanvas"></canvas>
                        </div>
                        <div style="display: flex;width: 65%;">
                            <canvas id="VTChart"></canvas>
                        </div>
                    </div>
                    

                    <div class="expand-container" id="vt-engines-card" style="display: none;margin-top: 25px;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                            <span>Antivirus Engines Results</span>
                            <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                            <div id="vt-engines-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-subdomains-card" style="display: none;margin-top: 15px;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                            <span>Subdomains</span>
                            <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                            <div id="vt-subdomains-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-passive-dns-resolution-card" style="display: none;margin-top: 15px;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                            <span>Passive DNS Resolution</span>
                            <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                            <div id="vt-passive-dns-resolution-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-comunication-files-card" style="display: none;margin-top: 15px;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                            <span>Comunication Files</span>
                            <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                            <div id="vt-comunication-files-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-referrer-files-card" style="display: none;margin-top: 15px;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                            <span>Referrer Files</span>
                            <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                            <div id="vt-referrer-files-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-siblings-card" style="display: none;margin-top: 15px;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                            <span>Siblings</span>
                            <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                            <div id="vt-siblings-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-contacted-domain-card" style="display: none;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                        <span>Contacted Domains</span>
                        <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                        <div id="vt-contacted-domains-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-contacted-ip-card" style="display: none;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                        <span>Contacted IP Address</span>
                        <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                        <div id="vt-contacted-ip-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-dropped-files-card" style="display: none;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                        <span>Dropped Files</span>
                        <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                        <div id="vt-dropped-files-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-categories-card" style="display: none;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                        <span>Categories</span>
                        <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                        <div id="vt-categories-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-html-meta-card" style="display: none;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                        <span>HTML Meta Tags</span>
                        <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                        <div id="vt-html-meta-table-container"></div>
                        </div>
                    </div>

                    <div class="expand-container" id="vt-outgoing-links-card" style="display: none;">
                        <div class="expand-header" onclick="toggleExpand(this)">
                        <span>Outgoing Links</span>
                        <span class="expand-icon">+</span>
                        </div>
                        <div class="expand-content">
                        <div id="vt-outgoing-links-table-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notcontent" id="not-content-card" style="display: block;">
                <div id="KasperskyBox" style="display: none;" class="hud-box neutral">
                  <h2>Kaspersky</h2>
                  <div class="scan-lines"></div>
                  <p><strong id="verdict"></strong> <span id="dsKaspersky">Loading...</span></p>
                  <p id="catKaspersky" style="display: none;"></p>
                </div>
                <div id="CiscoBox" style="display: none;" class="hud-box neutral">
                    <h2>Cisco Talos</h2>
                    <div class="scan-lines"></div>
                    <p><strong id="ct-verdict"></strong> <span id="dsCiscoTalos">Loading...</span></p>
                    <p id="catCiscoTalos" style="display: none;"></p>
                </div>
            </div>

      </div>
          
      </div>

       <script>
            document.getElementById('queryForm').addEventListener('submit', function(e) {
              e.preventDefault();
              const csrf_token = document.getElementById("csrf_token").value;
              const query = document.getElementById('query').value;
              Session();
              KasperskyLookup(query,csrf_token);
              dataLocation(query,csrf_token);
              vt_lookup(query,csrf_token);
              CiscoTalos_lookup(query,csrf_token);
            });
      </script>
  </div>

</body>
</html>