<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/url.css') }}">
</head>
<body>
  <div class="sidebar">
    <script src="{{ url_for('static', filename='js/scanio_url.js') }}"></script>
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}"><- Back</a>
    <a href="{{ url_for('analysis_reputation_lookup') }}">Reputation Lookup</a>
    <a href="{{ url_for('analysis_url') }}">URL Analysis</a>
    <a href="{{ url_for('analysis_file') }}">File Analysis </a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Analysis Menu</div>
  <div class="main">
    <div class="card">
        <h3>Url Analysis</h3>
        <form id="queryForm">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" id="query" placeholder="Enter Url" required style="width: 100%; padding: 10px;">
            <button type="submit" style="margin-top: 10px;">Submit</button>
            <p id="msg"></p>
        </form>
    </div>

    <div class="analyzing-text" role="status" aria-live="polite" id="analyzing">ANALYZING...</div>

     <div style="display: flex; margin-top: 20px;width: 100%;">
        <script>
            function toggleExpand(header) {
              const icon = header.querySelector(".expand-icon");
              const content = header.nextElementSibling;
              const isVisible = content.style.display === "block";

              content.style.display = isVisible ? "none" : "block";
              icon.textContent = isVisible ? "+" : "−";
            }
        </script>

        <div class="filescan-details">
            <div><img id="snapshot" src=""> </div>
            <div class="expand-container" id="requests-card" style="display: none;margin-top: 15px;">
                <div class="expand-header" onclick="toggleExpand(this)">
                    <span>Requests</span>
                    <span class="expand-icon">+</span>
                </div>
                <div class="expand-content">
                    <div id="requests-table-container"></div>
                </div>
            </div>
            <div class="expand-container" id="other-card" style="display: none;margin-top: 15px;">
                <div class="expand-header" onclick="toggleExpand(this)">
                    <span>Signals</span>
                    <span class="expand-icon">+</span>
                </div>
                <div class="expand-content">
                    <div id="other-table-container"></div>
                </div>
            </div>
            <div class="expand-container" id="ioc-card" style="display: none;margin-top: 15px;">
                <div class="expand-header" onclick="toggleExpand(this)">
                    <span>Indicators of compromise</span>
                    <span class="expand-icon">+</span>
                </div>
                <div class="expand-content">
                    <div id="certificates-table-container" style="display: none;"></div>
                    <div id="domains-table-container" style="display: none;"></div>
                    <div id="ip-table-container" style="display: none;"></div>
                    <div id="urls-table-container" style="display: none;"></div>
                </div>
            </div>
        </div>
        

        <div class="mitre" id="mitre">
            <div class="verdict-neutral"id="verdict">
                <span id="verdictText">--</span>
            </div> 

            <div class="mitre-verdict">
              <p>According to the signals and MITRE data, the verdict is: <span id="mitre-verdict-text">--</span></p>
            </div>

            <div class="mitre-details" style="display: block;"></div>
        </div>
      
     </div>
   
    <script>
      document.getElementById('queryForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const csrf_token = document.getElementById("csrf_token").value;
        const query = document.getElementById('query').value;
        Session();
        scanio_url(query,csrf_token);
      });
    </script>


  </div>
</body>
</html>