<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Monitoring</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='js/monitoring.js') }}"></script>
  <div class="sidebar">
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}">> Monitoring</a>
    <a href="{{ url_for('reccon_whois') }}">> Reconnaissance</a>
    <a href="{{ url_for('analysis_reputation_lookup') }}">> Analysis</a>
    {% if role == 'admin' %}
      <a href="{{ url_for('dashboard_users') }}">> Users</a>
    {% endif %}
    <a href="{{ url_for('dashboard_password') }}">> Change password</a>
    <a href="{{ url_for('about') }}">> About</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Monitoring - {{ username | safe}}</div>
  <div class="main">
    <div class="card">
      <h3>System Stats</h3>
      <p>CPU: <span id="cpu">--</span></p>
      <p>Disk Free: <span id="disk">--</span></p>
      <p>Memory Usage: <span id="memory-percent">--</span></p>
      <p>Network Sent: <span id="net-sent">--</span></p>
      <p>Network Received: <span id="net-recv">--</span></p>
    </div>
  </div>
</body>
</html>