<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Settings</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <div class="sidebar">
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}">> Monitoring</a>
    <a href="{{ url_for('reccon_whois') }}">> Reconnaissance</a>
    <a href="{{ url_for('analysis_reputation_lookup') }}">> Analysis</a>
    {% if role == 'admin' %}
      <a href="{{ url_for('dashboard_users') }}">> Users</a>
      <a href="{{ url_for('dashboard_settings') }}">> Settings</a>
    {% endif %}
    <a href="{{ url_for('dashboard_password') }}">> Change password</a>
    <a href="{{ url_for('about') }}">> About</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Settings</div>
  <div class="main">
    <div class="card">
        <h3>APIs Configuration</h3>
        <p id="msg"></p>
        <form id="settingsForm">
        <input type="text" id="token_scanurl" name="token_scanurl" placeholder="Enter Token for Scanurl.io" style="width: 100%; padding: 10px;">
        <button type="submit" style="margin-top: 10px;">Save</button>
        </form>
        <script>
            tokens_data = {{ tokens | tojson | safe}};
            set_tokens(tokens_data);
            document.getElementById("settingsForm").addEventListener("submit", async function(e) {
              e.preventDefault();
                const token = document.getElementById("token_scanurl").value;
                save_tokens(token);
            });
        </script>
    </div>
    </div>

  </div>
</body>
</html>