<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Users</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body>
  <script src={{ url_for('static', filename='js/update_password.js') }}></script>
  <div class="sidebar">
    <h2>CyberSeek</h2>
    <a href="{{ url_for('dashboard_monitoring') }}">> Monitoring</a>
    <a href="{{ url_for('reccon_whois') }}">> Reconnaissance</a>
    <a href="{{ url_for('analysis_reputation_lookup') }}">> Analysis</a>
    {% if role == 'admin' %}
      <a href="{{ url_for('dashboard_users') }}">> Users</a>
      <a href="{{ url_for('dashboard_settings') }}">> Settings</a>
    {% endif %}
    <a href="{{ url_for('dashboard_password') }}">> Change Password</a>
    <a href="{{ url_for('about') }}">> About</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="topbar">Change Password - {{ username | safe}}</div>
  <div class="main">
    <div class="card">
        <p id="msg"></p>
        <form id="passForm">
          <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
          <input type="password" id="current_password"  placeholder="Current Password" required>
          <input type="password" id="new_password" placeholder="New Password" required>
          <input type="password" id="confirm_password"  placeholder="Confirm Password" required>
          <button type="submit">Change</button>
        </form>
    </div>
    <script>
        document.getElementById("passForm").addEventListener("submit", async function(e) {
          e.preventDefault();
            const csrf_token = document.getElementById("csrf_token").value;
            const current_pass = document.getElementById("current_password").value;
            const new_pass = document.getElementById("new_password").value;
            const confirm_pass = document.getElementById("confirm_password").value;
            upd_password(current_pass,new_pass,confirm_pass,csrf_token);
        });
    </script>
  </div>
</body>
</html>
